.scammer-list-container {
  height: fit-content;
  width: 100%;
}

.scam-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px 50px 0px;
  background-color: whitesmoke;
}

.scam-list ul {
  list-style: outside;
  color: #007bff;
  padding-left: 40px;
}

.scam-list ul li:hover {
  text-decoration: underline;
  width: fit-content;
}

.scam-list ul li {
  width: fit-content;
}

.scam-list ul a {
  display: inline;
  width: fit-content;
}

.info {
  width: 60%;
  height: fit-content;
  padding: 20px 30px 20px 30px;
  border: 2px solid red;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.info>h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.info>p {
  font-size: 20px;
  text-align: justify;
}

.info>strong {
  font-size: 22px;
}

.red-alert {
  color: red;
}

@media screen and (max-width: 768px) {
  .info {
    width: 90%;
  }

  .info>h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .info>p {
    font-size: 14px;
    text-align: justify;
  }

  .info>strong {
    font-size: 16px;
  }
}